@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* !--- RESET "NAVIGATOR"---- */
*,
*::before,
*::after {
  /* to keep initial "section" size if padding */
  box-sizing: border-box;
}

* {
  /* each  margin and padding element initialized to 0 */
  margin: 0;
  padding: 0;
}

html,
body {
  /* html and body height element must be defined by 100% of is parent contenair*/
  height: 100%; /* à vérifier*/
  font-size: 62.5%; /*pour les rem  20px*10=2rem*/
  scroll-behavior: smooth;
}


/* default parameters*/
body {
  line-height: 1.5; /*usually used*/
  /* for a cleaner and smoother font appareance  */
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  color: #213442; /* à mettre dans la ROOT dans utilities*/
  /* font-size: 1.6rem; */
}

img,picture,video,canvas,svg {
  display: block;
  max-width: 100%;
}

input,button,textarea,select {
  font: inherit;
}

p,h1,h2,h3,h4,h5,h6 {
  /* when the text reaches the end of the container, allows the navigator to break betwwen words and insert a beak line (saut de ligne)*/
  overflow-wrap: break-word;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  /*By default, a link is blue or violet, so here we're telling him  to be "color: #213442;" default parameter in body*/
  color: inherit;
}

/* !--------- UTILITIES ------ CHANGE FOR NEED-------------- */

/* permet de creer des variables que l'on va pouvoir rappeler dans les proprietés ce qui permettra d'avoir une seul valeur a changer si par exemple une couleur change */
:root{
  --dark-blue: #000829;
  --text-color: #666B7F;
  --primary-color: #25DB87;
  --primary-hover: #41FF6E;
  --gray-color: #F6F6F6;
}

html {
  font-size: 62.5%;
  /* for a visual smoothie scroll, "no bump" */
  scroll-behavior: smooth;
}

.container {
  max-width: 140rem; /* regarder maquette pour l'unité*/
  /*  0 top and bottom margin = 0
      auto : left and right margin  spaces are egally distributes*/
  margin: 0 auto;
  /* sets the top and bottom padding to 0 and the left and right padding to 2rem*/
  padding: 0 2rem;
}

.d-flex {
  display: flex;
  /* put div or else side by side*/
}

section { /*unité à changer selon*/
  padding: 10rem 4rem;
  text-align: center;
}

.title {
  font-size: 5.6rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 2rem;
  margin-bottom: 8rem;
}

.btn {
  display: inline-block;
  background-color: #E83F43;
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  line-height: 6rem;
  padding: 0 3.2rem;
  border-radius: 3px;
}

.btn:hover {
  background-color: #C53135;
}

/* !--------- HEADER  cHANGE FOR NEED--------------- */

header {
  position: fixed; /*attention pour la section suivante, il faudra padding pour couvrir la zone cachée par le header*/
  background-color: burlywood;
  width:100%;
  padding: 0 2rem;/* à redéfinir*/
  box-shadow: 0 2px 20px rgba(0, 0, 0, .04); /*si besoin*/
  
}

header nav {
  /* background-color: aqua;  */
  justify-content: space-between;
  align-items: center;
  /* item joue sur axe secondaire, row, pcpal = horizontal; seconadire = vertical et l'inverse pour column, place dans le block verticalement (haut - milieu -bas) */
  /* height: 88px; EVENTUELLEMENT*/

}

/* TEXT LOGO */

/* .logo {
  background-color: #e83f43; 
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 7rem;
} */

/* IMG LOGO pas forcément toujours besoin de le dimensionner*/

.logo{
	height: 8rem;
	width: 12rem;
	margin-top: 2rem;
}


/*p si paragraphe et non img, attention, parfois les 2*/
.logo p,.active,a:hover {
  color: #350fdd;
}


/* ------------MENU---------------*/

.menu{
  /* gap:3.2rem au besoin */
}

header nav ul {
  /* background-color: yellow; */
  gap: 3.2rem;
}

.menu li a {
  display: block;
  /* background-color: rgb(31, 128, 173); */
  line-height: 2.2rem;
  font-size: 1.8rem; /*si besoin de redéfinir*/
  font-weight: 700; /*si besoin de redéfinir*/
  text-transform: capitalize;
  /* display: inline-block; */
}
